{% extends "Header.html" %}

{% block addMembers %}
<body>

    <div class="container mt-3 p-5 card bg-light text-black" style="width: 40%;">
        <h3>Add members</h3>
          {% for message in messages %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Alert: </strong> {{message}}
          <button class="btn-close" data-bs-dismiss="alert">      
          <span aria-hidden="true">&times;</span> 
          </button>
          </div>
          {% endfor %}
        <form action="/addMembers" class="was-validated" method="post">
            {% csrf_token %}
          <div class="mb-3 mt-3">
            <label for="addUser" class="form-label">Username:</label>
            <input type="text" class="form-control" id="addUser" placeholder="Enter username" name="addUser" required>
          </div>
        <button type="submit" class="btn btn-primary btn-lg">Add</button>
        </form>
      </div>


</body>

{% endblock addMembers %}