{% extends "HomePage.html" %}

{% block HomeContent %}

  <div class="container border border-5 border-top-0 border-bottom-0 mt-5 p-5 card bg-light" style="width: 70%;">
        <h3>Join team</h3>
          {% for message in messages %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Alert: </strong> {{message}}
          <button class="btn-close" data-bs-dismiss="alert">      
          <span aria-hidden="true">&times;</span> 
          </button>
          </div>
          {% endfor %}
        <form action="/joinTeam" class="was-validated" method="post">
            {% csrf_token %}
          <div class="mb-3 mt-3">
            <label for="title" class="form-label">Team name:</label>
            <input type="text" class="form-control" id="title" placeholder="Enter team name" name="title" required>
         </div>
        <button type="submit" class="btn btn-primary btn-lg">Join</button>
        </form>
  </div>

{% endblock %}