{% extends "Header.html" %}

{% block TeamPage %}
{% load static %}
<body>


    <div class="container mt-3">

        <!-- Nav pills -->
        <ul class="nav nav-pills bg-light" role="tablist" style="border-radius: 15px;padding: 10px;">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="pill" href="#teamInfo">Team Info</a></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#tasks">Tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#myTasks">My Tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#members">Members</a>
          </li>
          <li class="nav-item">
            <a  data-bs-toggle="pill" href="\"><a class="nav-link" href="\">Back to home</a></a>
          </li>

        </ul>

      


        <div class="tab-content">
            <div id="teamInfo" class="container tab-pane active"><br>
                <div class="container mt-3 p-5 card bg-light text-black">
                    <h3 class="text-primary">Team details</h3>
                      {% for message in messages %}
                      <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      <strong>Alert: </strong> {{message}}
                      <button class="btn-close" data-bs-dismiss="alert">      
                      <span aria-hidden="true">&times;</span> 
                      </button>
                      </div>
                      {% endfor %}
                      {% if new_Team %}
                      {% for team in new_Team %}
                    <h1>Welcome to {{ team.title }} </h1>
                    <h3>Leader: {{ team.leader.username }}</h3>
                    {% endfor %}
                    {% endif%}
                    {% if team_ins %}
                    {% for team in team_ins %}
                    <h1>Welcome to {{ team.title }} </h1>
                    <h3>Leader: {{ team.leader.username }}</h3>
                    {% endfor %}
                    {% endif %}
                  </div>
          
            </div>
            <div id="projects" class="container tab-pane fade"><br>
              <h3><img src="{% static 'img\Projects.png' %}" alt="" style="width: 50px;margin-right: 10px;">Projects</h3>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
            <div id="members" class="container tab-pane fade"><br>
              <div class="d-flex justify-content-between align-items-center">
                
                <h3><img src="{% static 'img\Members.png' %}" alt="" style="width: 50px;margin-right: 10px;">Team members</h3>
                <div class="d-flex">

                  <button type="button" class="btn btn-primary m-2"><a class="nav-link text-white p-0" href="/toAddMembers">Add members</a></button>
                  <button type="button" class="btn btn-danger m-2"><a class="nav-link text-white p-0" href="/toRemoveMembers">Remove members</a></button>

                </div>

              </div>
              <br>
              <br>
              <div class="row">
                {% for team in new_Team %}
                {% for member in team.members.all %}
                <div class="card col-sm-5 m-2" style="width:250px">
                  <img class="card-img-top" src="{% static 'img\member.png' %}" alt="Card image" style="width:100%">
                  <div class="card-body d-flex align-items-center" style="flex-direction: column;">
                    <h4 class="card-title">{{member.username}}</h4>
                    <p class="card-text"><strong>Role: </strong> Developer</p>
                    <a href="#" class="btn btn-primary" style="width: 90%;">See Profile</a>
                  </div>
                </div>

                {% endfor %}
                {% endfor %}  
              </div>
              
            </div>
            <div id="tasks" class="container tab-pane fade"><br>
              <div class="top" style="display: flex;align-items: center;justify-content: space-between;">
                <div class="left">
                  <h3 style="color: rgb(3, 67, 67);"><img src="{% static 'img\Tasks.png' %}" alt="" style="width: 50px;margin-right: 10px;">Team Tasks</h3>
                </div>
                
                <div class="right">
                  <button type="button" class="btn btn-primary">Add Task</button>
                  <button type="button" class="btn btn-danger">Remove Task</button>
                </div>
              </div>
  
  
            <div class="row">
            {% for task in all_Tasks %}
              <div class="container col-sm-6 p-5 my-5 bg-primary text-white" style="border-radius: 10px;width: 40%;height: 500px;">
                    <h3><y>Title: </y> {{task.title}}</h3>
                    <h5><y>For: </y>{{ task.forUser.username }}</h5>
                <h5><y>Publish Date: </y>{{task.created_Date}}</h5>
                <p class="card p-2" style="height: 50%; background-color: rgb(14, 108, 181);">{{task.description}}</p>
                <h4><y>DeadLine: </y>{{task.deadLine}} Days</h4>
                <h4><y style="color: rgb(250, 95, 95);">Time left: </y>{{task.dyas_Left}} Days</h4>
                <button type="button" class="btn btn-info" style="width: 30%;">Details</button>
              </div>
              {% endfor %}
           </div>
  
  
            </div>
            <div id="myTasks" class="container tab-pane fade"><br>
              <h3 style="color: rgb(3, 67, 67);"><img src="{% static 'img\Tasks.png' %}" alt="" style="width: 50px;margin-right: 10px;">My Tasks</h3>
              <div class="row">
                {% for my_task in my_Tasks %}
                  <div class="container col-sm-6 p-5 my-5 bg-primary text-white" style="border-radius: 10px;width: 40%;height: 500px;">
                        <h3><y>Title: </y> {{my_task.title}}</h3>
                        <h5><y>For: </y>{{ my_task.forUser.username }}</h5>
                    <h5><y>Publish Date: </y>{{my_task.created_Date}}</h5>
                    <p class="card p-2" style="height: 50%; background-color: rgb(14, 108, 181);">{{my_task.description}}</p>
                    <h4><y>DeadLine: </y>{{my_task.deadLine}} Days</h4>
                    <h4><y style="color: rgb(250, 95, 95);">Time left: </y>{{my_task.dyas_Left}} Days</h4>
                    <button type="button" class="btn btn-info" style="width: 30%;">Details</button>
                  </div>
                  {% endfor %}
               </div>
            
            </div>

          </div>
        </div>







</body>

{% endblock TeamPage %}