{% extends "Header.html" %}

{% block TeamPage %}
{% load static %}
<body>


<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add task</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Alert: </strong> {{message}}
        <button class="btn-close" data-bs-dismiss="alert">      
        <span aria-hidden="true">&times;</span> 
        </button>
        </div>
        {% endfor %}
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="/addTask" class="was-validated" method="post">
          {% csrf_token %}
        <div class="mb-3 mt-3">
          <label for="title" class="form-label">Title: </label>
          <input type="text" class="form-control" id="title" placeholder="Enter title" name="title" required>
        </div>
        <div class="mb-3 mt-3">
          <label for="forUser" class="form-label">For User: </label>
          <select class="form-select" id="sel1" name="forUser">
            {% for team in new_Team %}
            {% for member in team.members.all %}
            <option>{{ member.username }}</option>
            {% endfor %}
            {% endfor %}
          </select>          
        </div>
        <div class="mb-3 mt-3">
          <label for="description" class="form-label">Description: </label>
          <textarea class="form-control" rows="5" id="description" name="description"></textarea>
        </div>
        <div class="mb-3 mt-3">
          <label for="deadLine" class="form-label">Deadline: </label>
          <input type="number" id="deadLine" name="deadLine" min="1" max="30" required>          
        </div>
      <center><button type="submit" class="btn btn-primary btn-lg" style="width: 90%;">Add</button></center>
      <br>
    </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


    <div class="container mt-3">

        <!-- Nav pills -->
        <ul class="nav nav-pills bg-light" role="tablist" style="border-radius: 15px;padding: 10px;">
          <li class="nav-item" onclick="document.getElementById('ultask').style.color='blue'">
            <a class="nav-link active" data-bs-toggle="pill" href="#teamInfo">Team Info</a>
          </li>
          <li class="nav-item" onclick="
          document.getElementById('ultask').style.color='white';
          document.getElementById('first').className = 'dropdown-item nav-link'
          document.getElementById('sec').className = 'dropdown-item nav-link'
          ">
            <div class="nav-link" data-bs-toggle="pill" href="#">
              <a id="ultask" class="nav-link dropdown-toggle btn btn-primary p-0 m-0" href="#" role="button" data-bs-toggle="dropdown">Tasks</a>
              <ul class="dropdown-menu">
               <ul class=" nav nav-pill" role="tablist">
                <li><a id="first" class="dropdown-item nav-link" data-bs-toggle="pill" href="#tasks">All Tasks</a></li>
                <li><a id="sec" class="dropdown-item nav-link" data-bs-toggle="pill" href="#myTasks" >My Tasks</a></li>
               </ul>
            </ul>
          </div>
          </li>

          <li class="nav-item" onclick="document.getElementById('ultask').style.color='blue'">
            <a class="nav-link" data-bs-toggle="pill" href="#projects">Projects</a>
          </li>
          <li class="nav-item" onclick="document.getElementById('ultask').style.color='blue'">
            <a class="nav-link" data-bs-toggle="pill" href="#members">Members</a>
          </li>
          <li class="nav-item" onclick="document.getElementById('ultask').style.color='blue'">
            <a  data-bs-toggle="pill" href="\"><a class="nav-link" href="\">Back to home</a></a>
          </li>



        </ul>

      


        <div class="tab-content">
            <div id="teamInfo" class="container tab-pane active"><br>
                <div class="container mt-3 p-5 card bg-light text-black">
                    <h3 class="text-primary">Team details</h3>
                      {% for message in messages %}
                      <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      <strong>Alert: </strong> {{message}}
                      <button class="btn-close" data-bs-dismiss="alert">      
                      <span aria-hidden="true">&times;</span> 
                      </button>
                      </div>
                      {% endfor %}
                      {% if new_Team %}
                      {% for team in new_Team %}
                    <h1>Welcome to {{ team.title }} </h1>
                    <h3>Leader: {{ team.leader.username }}</h3>
                    <h3> {{ team.description }} </h3>

                    {% endfor %}
                    {% endif%}
                  </div>
          
            </div>
            <div id="projects" class="container tab-pane fade"><br>
              <h3><img src="{% static 'img\Projects.png' %}" alt="" style="width: 50px;margin-right: 10px;">Projects</h3>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
            <div id="members" class="container tab-pane fade"><br>
              <div class="d-flex justify-content-between align-items-center">
                
                <h3><img src="{% static 'img\Members.png' %}" alt="" style="width: 50px;margin-right: 10px;">Team members</h3>
                <div class="d-flex">
                  {% for team in new_Team %}
                  {% if request.user == team.leader %}
                  <button type="button" class="btn btn-primary m-2"><a class="nav-link text-white p-0" href="/toAddMembers">Add members</a></button>
                  {% endif %}
                  {% endfor %}
                </div>
                

              </div>
              <br>
              <br>
              <div class="row">
                {% for team in new_Team %}
                {% for member in team.members.all %}
                <div class="card col-sm-5 m-2" style="width:250px">
                  <img class="card-img-top" src="{% static 'img\member.png' %}" alt="Card image" style="width:100%">
                  <div class="card-body d-flex align-items-center" style="flex-direction: column;">
                    <h4 class="card-title">{{member.username}}</h4>
                    <p class="card-text"><strong>Role: </strong> Developer</p>
                    <a href="#" class="btn btn-primary" style="width: 90%;">See Profile</a>
                    <br>
                    {% if request.user == team.leader %}
                    <button type="button" onclick="memberDelete()" class="btn btn-danger style="width: 40%;">kick out</button>
                    {% endif %}
                  </div>
                </div>
                <script>
                function memberDelete(){
                  if (confirm("Are you sure?") == true) {
                   window.location.href = "/memberRemove/"+"{{team}}/"+"{{member}}";
                  }   
                }
              </script>
                {% endfor %}
                {% endfor %}  
              </div>
              
            </div>

            <div id="tasks" class="container tab-pane fade"><br>
              <div class="top" style="display: flex;align-items: center;justify-content: space-between;">
                <div class="left">
                  <h3 style="color: rgb(3, 67, 67);"><img src="{% static 'img\Tasks.png' %}" alt="" style="width: 50px;margin-right: 10px;">Team Tasks | In-Progress</h3>
                </div>
                
                <div class="right d-flex">
                    <a type="button" class="dropdown-toggle btn btn-primary m-2" href="#" role="button" data-bs-toggle="dropdown" onclick="
                    document.getElementById('first2').className = 'dropdown-item nav-link';
                    document.getElementById('sec2').className = 'dropdown-item nav-link'
                    ">Show</a>
                      <ul class="dropdown-menu">
                       <ul class=" nav nav-pill" role="tablist">
                        <li><a id="first2" class="dropdown-item nav-link" data-bs-toggle="pill" href="#tasks">In-Progress Tasks</a></li>
                        <li><a id="sec2" class="dropdown-item nav-link" data-bs-toggle="pill" href="#doneTasks" >Completed Tasks</a></li>
                       </ul>
                    </ul>
    
                    {% for team in new_Team %}
                    {% if user == team.leader %}
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                      Add Task
                    </button>
                    {% endif %}
                    {% endfor %}
                  </div>
              </div>



  
  
            <div class="row">
            {% for task in all_Tasks %}
            {% if task.is_Done == False %}

              <div class="container col-sm-6 p-5 my-5 bg-primary text-white" style="border-radius: 10px;width: 40%;height: 500px;">
                <h3><y>Title: </y> {{task.title}}</h3>
                <h5><y>For: </y>{{ task.forUser.username }}</h5>
                <h5><y>Publish Date: </y>{{task.created_Date}}</h5>
                <p class="card p-2" style="height: 50%; background-color: rgb(14, 108, 181);overflow: hidden;text-overflow: ellipsis;">{{task.description}}</p>
                <h4><y>DeadLine: </y>{{task.deadLine}} Days</h4>
                <h4><y style="color: rgb(250, 95, 95);">Time left: </y>{{task.dyas_Left}} Days</h4>
                <div class="d-flex justify-content-between align-items-center">
                  <button type="button" class="btn btn-info" style="width: 40%;"><a class="nav-link text-white p-0" href="/taskDetails/{{task.id}}">Details</a></button>
                  {% for team in new_Team %}
                  {% if user == team.leader %}
                  <button type="button" onclick="taskDelete()" class="btn btn-danger style="width: 40%;">Delete</button>
                  
                  {% endif %}
                  {% endfor %}
                  <script>
                    function taskDelete() {
                      if (confirm("Are you sure?") == true) {
                       window.location.href = "/taskDelete/"+"{{task.id}}";
                      }
                    }

                    </script>
                </div>
              </div>
              {% endif %}
              {% endfor %}
           </div>
  
  
      
            </div>
            

            <div id="doneTasks" class="container tab-pane fade"><br>
              <div class="top" style="display: flex;align-items: center;justify-content: space-between;">
                <div class="left">
                  <h3 style="color: rgb(3, 67, 67);"><img src="{% static 'img\Tasks.png' %}" alt="" style="width: 50px;margin-right: 10px;">Team Tasks | Completed</h3>
                </div>
                
                <div class="right d-flex">
                    <a type="button" class="dropdown-toggle btn btn-primary m-2" href="#" role="button" data-bs-toggle="dropdown" onclick="
                    document.getElementById('first2').className = 'dropdown-item nav-link';
                    document.getElementById('sec2').className = 'dropdown-item nav-link'
                    ">Show</a>
                      <ul class="dropdown-menu">
                       <ul class=" nav nav-pill" role="tablist">
                        <li><a id="first2" class="dropdown-item nav-link" data-bs-toggle="pill" href="#tasks">In-Progress Tasks</a></li>
                        <li><a id="sec2" class="dropdown-item nav-link" data-bs-toggle="pill" href="#doneTasks" >Completed Tasks</a></li>
                       </ul>
                    </ul>
    
                    {% for team in new_Team %}
                    {% if user == team.leader %}
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                      Add Task
                    </button>
                   {%endif%} 
                  {%endfor%}
                </div>
              </div>



  
  
            <div class="row">
            {% for task in all_Tasks %}
            {% if task.is_Done %}
              <div class="container col-sm-6 p-5 my-5 bg-primary text-white" style="border-radius: 10px;width: 40%;height: 500px;">
                <h3><y>Title: </y> {{task.title}}</h3>
                <h5><y>For: </y>{{ task.forUser.username }}</h5>
                <h5><y>Publish Date: </y>{{task.created_Date}}</h5>
                <p class="card p-2" style="height: 50%; background-color: rgb(14, 108, 181);overflow: hidden;text-overflow: ellipsis;">{{task.description}}</p>
                <h4><y>DeadLine: </y>{{task.deadLine}} Days</h4>
                <h4><y style="color: rgb(250, 95, 95);">Time left: </y>{{task.dyas_Left}} Days</h4>
                <div class="d-flex justify-content-between align-items-center">
                  <button type="button" class="btn btn-info" style="width: 40%;"><a class="nav-link text-white p-0" href="/taskDetails/{{task.id}}">Details</a></button>
                  
                </div>
              </div>
              {% endif %}
              {% endfor %}
           </div>
  
  
            </div>
            <div id="myTasks" class="container tab-pane fade"><br>
              <div class="top" style="display: flex;align-items: center;justify-content: space-between;">
                <div class="left">
                  <h3 style="color: rgb(3, 67, 67);"><img src="{% static 'img\Tasks.png' %}" alt="" style="width: 50px;margin-right: 10px;">My Tasks | In-Progress</h3>
                </div>
                
                <div class="right d-flex">
                  <a type="button" class="dropdown-toggle btn btn-primary m-2" href="#" role="button" data-bs-toggle="dropdown" onclick="
                  document.getElementById('first3').className = 'dropdown-item nav-link';
                  document.getElementById('sec3').className = 'dropdown-item nav-link'
                  ">Show</a>
                    <ul class="dropdown-menu">
                     <ul class=" nav nav-pill" role="tablist">
                      <li><a id="first3" class="dropdown-item nav-link" data-bs-toggle="pill" href="#myTasks">In-Progress Tasks</a></li>
                      <li><a id="sec3" class="dropdown-item nav-link" data-bs-toggle="pill" href="#doneMyTasks" >Completed Tasks</a></li>
                     </ul>
                  </ul>
                  {% for team in new_Team %}
                  {% if user == team.leader %}
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                    Add Task
                  </button>
                 {%endif%} 
                {%endfor%}

                </div>
              </div>



              <div class="row">
                {% for my_task in my_Tasks %}
                {% if my_task.is_Done == False %}
                  <div class="container col-sm-6 p-5 my-5 bg-primary text-white" style="border-radius: 10px;width: 40%;height: 500px;" >
                        <h3><y>Title: </y> {{my_task.title}}</h3>
                        <h5><y>For: </y>{{ my_task.forUser.username }}</h5>
                    <h5><y>Publish Date: </y>{{my_task.created_Date}}</h5>
                    <p class="card p-2" style="height: 50%; background-color: rgb(14, 108, 181);overflow: hidden;text-overflow: ellipsis;">{{my_task.description}}</p>
                    <h4><y>DeadLine: </y>{{my_task.deadLine}} Days</h4>
                    <h4><y style="color: rgb(250, 95, 95);">Time left: </y>{{my_task.dyas_Left}} Days</h4>
                    <div class="d-flex justify-content-between align-items-center">
                      <button type="button" class="btn btn-info" style="width: 40%;"><a class="nav-link text-white p-0" href="/taskDetails/{{my_task.id}}">Details</a></button>
                      {% for team in new_Team %}
                      {% if user == team.leader %}
                      <button type="button" class="btn btn-danger style="width: 40%;"><a class="nav-link text-white p-0" href="/taskDelete/{{my_task.id}}">Delete</a></button>
                      {% endif %}
                      {% endfor %}
                      
                    </div>                  
                  </div>
                  {% endif %}
                  {% endfor %}
               </div>
            
            </div>


            <div id="doneMyTasks" class="container tab-pane fade"><br>
              <div class="top" style="display: flex;align-items: center;justify-content: space-between;">
                <div class="left">
                  <h3 style="color: rgb(3, 67, 67);"><img src="{% static 'img\Tasks.png' %}" alt="" style="width: 50px;margin-right: 10px;">My Tasks | Completed</h3>
                </div>
                
                <div class="right d-flex">
                  <a type="button" class="dropdown-toggle btn btn-primary m-2" href="#" role="button" data-bs-toggle="dropdown" onclick="
                  document.getElementById('first4').className = 'dropdown-item nav-link';
                  document.getElementById('sec4').className = 'dropdown-item nav-link'
                  ">Show</a>
                    <ul class="dropdown-menu">
                     <ul class=" nav nav-pill" role="tablist">
                      <li><a id="first4" class="dropdown-item nav-link" data-bs-toggle="pill" href="#myTasks">In-Progress Tasks</a></li>
                      <li><a id="sec4" class="dropdown-item nav-link" data-bs-toggle="pill" href="#doneMyTasks" >Completed Tasks</a></li>
                     </ul>
                  </ul>
    
                  {% for team in new_Team %}
                  {% if user == team.leader %}
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                    Add Task
                  </button>
                 {%endif%} 
                {%endfor%}
                </div>
              </div>



              <div class="row">
                {% for my_task in my_Tasks %}
                {% if my_task.is_Done %}
                  <div class="container col-sm-6 p-5 my-5 bg-primary text-white" style="border-radius: 10px;width: 40%;height: 500px;" >
                        <h3><y>Title: </y> {{my_task.title}}</h3>
                        <h5><y>For: </y>{{ my_task.forUser.username }}</h5>
                    <h5><y>Publish Date: </y>{{my_task.created_Date}}</h5>
                    <p class="card p-2" style="height: 50%; background-color: rgb(14, 108, 181);overflow: hidden;text-overflow: ellipsis;">{{my_task.description}}</p>
                    <h4><y>DeadLine: </y>{{my_task.deadLine}} Days</h4>
                    <h4><y style="color: rgb(250, 95, 95);">Time left: </y>{{my_task.dyas_Left}} Days</h4>
                    <div class="d-flex justify-content-between align-items-center">
                      <button type="button" class="btn btn-info" style="width: 40%;"><a class="nav-link text-white p-0" href="/taskDetails/{{my_task.id}}">Details</a></button>

                      
                    </div>                  
                  </div>
                  {% endif %}
                  {% endfor %}
               </div>
            
           

          </div>
        </div>




        <script>
          // Get the modal
          var modal = document.getElementById('add_task');
          
          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
              if (event.target == modal) {
                  modal.style.display = "none";
         
          }}
          </script>


</body>

{% endblock TeamPage %}