{% extends "HomePage.html" %}

{% block content %}
        <!-- Tab panes -->
        <div class="tab-content">
            <div id="home" class="container tab-pane active"><br>
              <h3>HOME</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div id="tasks" class="container tab-pane fade"><br>
              <div class="top" style="display: flex;align-items: center;justify-content: space-between;">
                <div class="left">
                  <h3 style="color: rgb(3, 67, 67);"><img src="https://i.pinimg.com/originals/09/2f/d0/092fd0a6692251c33744c77697c9b544.png" style="border-radius: 50%;width: 80px;" alt="">Tasks</h3>
                </div>
                
                <div class="right">
                  <button type="button" class="btn btn-primary">Add Task</button>
                  <button type="button" class="btn btn-danger">Remove Task</button>
                </div>
              </div>
  
  
              {% for task in all_Tasks %}
              <div class="container p-5 my-5 bg-primary text-white" style="border-radius: 10px;">
                <h3 style="margin-bottom: 20px; color: rgb(0, 251, 255);">{{task.title}}</h3>
                <h5>Publish Date: {{task.created_Date}}</h5>
                <p>{{task.description}}</p>
                <h4>DeadLine: {{task.deadLine}} Days</h4>
                <h4>Days left: {{task.dyas_Left}} Days</h4>
                
              </div>
              {% endfor %}
  
  
  
            </div>
            <div id="projects" class="container tab-pane fade"><br>
              <h3>Projects</h3>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
            <div id="login" class="container tab-pane fade"><br>
              <h3>Login</h3>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
            <div id="signup" class="container tab-pane fade"><br>
              <h3>Register</h3>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
          </div>
        </div>
        {% endblock content %}
