{% extends "Header.html" %}

{% block Home %}


    <div class="container mt-3">

        <!-- Nav pills -->
        <ul class="nav nav-pills bg-light" role="tablist" style="border-radius: 15px;padding: 10px;">
          <li class="nav-item">
            <a  data-bs-toggle="pill" href="#home"><a class="nav-link active" href="\">Home</a></a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a data-bs-toggle="pill" href="#my_Team"><a class="nav-link" href="\toTeam">My Team</a></a>
          </li>
          <li class="nav-item">
            <a class="nav-link dropdown-toggle btn btn-primary" href="#" role="button" data-bs-toggle="dropdown" style="color: white;margin-left: 5px">{{ myUser.username }}</a>
          </li>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">My profile</a></li>
            <li><a class="dropdown-item" href="/signout" >Sign out</a></li>
          </ul>
          {% endif %}


        </ul>

    <script src="../static/main.js"></script>
      
    <div>
      {% block content %}
      {% endblock %}
      
    </div>


    {% endblock Home %}

