{% extends "Header.html" %}

{% block Home %}


    <div class="container mt-3">

        <!-- Nav pills -->
        <ul class="nav nav-pills bg-light" role="tablist" style="border-radius: 15px;padding: 10px;">
          <li class="nav-item">
            <a  data-bs-toggle="pill" href="#home"><a class="nav-link active" href="\">Home</a></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#tasks">Tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="pill" href="#projects">Projects</a>
          </li>
  
        
 
   

        </ul>

    <script src="../static/main.js"></script>
      
    <div>
      {% block content %}
      {% endblock %}
      
    </div>


    {% endblock Home %}

